.label{
	float:right;
}
.label:hover{
	curser:pointer;
}
#effect-field-cover{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(225,225,225,0.5);
	top:0;
	left:0;
	z-index:1001;
}
.effect-field-edit{
	position:fixed;
	width:600px;
	left:50%;
	top:40%;
	margin-left:-300px;
}
#key-field-cover{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(225,225,225,0.5);
	top:0;
	left:0;
	z-index:1001;
}
.key-field-edit{
	position:fixed;
	width:600px;
	left:50%;
	top:40%;
	margin-left:-300px;
}
#key-variable-cover{
	display:none;
	position:fixed;
	width:100%;
	height:100%;
	background:rgba(225,225,225,0.5);
	top:0;
	left:0;
	z-index:1001;
}
.key-variable-edit{
	position:fixed;
	width:600px;
	left:50%;
	top:20%;
	margin-left:-300px;
}